body{
  background-color: #006600;
}

h1 {
 color: #181d18;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h2 {
  color: #006600;
}

ul{
  color: red;
}

p:hover{
  color:orange;
}

#header {
  text-align: center;
}

.big{
  size: 50px;
}

/* Unvisited link */
a:link {
  color: red;
}

/* Visited Link */
a:visited{
  color: pink;
}

/* Hover on link */
a:hover{
  color:hotpink;
}
