body{
  background-color: #78dff1;
}

h1 {
 color: #1150e3;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h2 {
  color: rgb(10, 2, 129);
}
ul{
  color: rgb(4, 0, 255);
}

#header {
  text-align: center;
}

.big{
  size: 50px;
}
